header{
	background-color: #343A40;
	height: 70px;
	width: 100%;
	position: fixed;
	z-index: 5;
}

.logo{
	height: 70px;
	text-align: center;
}
.logo p{
	font-size: 26px;
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	margin-right: 300px;
}
.menu nav{
	margin-right: 90px;
}
.menu nav ul li a{
	text-decoration: none;
	color: #fff;
}
.menu nav ul li{
	display: inline;
	float: right;
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;
	margin: 7px;
}

/* inicio section1 */
#section1{
	background-image: url('../assets/img/header.jpg');
    height: 56em;    
}

.title1{
	text-align: center;
	
}
.title1 h1{
	padding-top: 3em;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 100px;
	
}
.title1 h2{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 24px;

}
/*fin section1 */
/*edicion img*/
.gal1 img{
	border-radius: 360em;
	margin-top: 50px;
  }

/*fin edicion img */
/*seccion 2,3 y 4*/


.parr h3{
	padding-top: 10em;
	margin: auto;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	width: 300px;
	height: 50px;
}
.parr p{
	padding-top: 40px;
	font-family: 'Raleway', sans-serif;
	width: 300px;
	height: 300px;
	margin: auto;
}

/* footer */

footer{
	background-color: #343A40;
	text-align: center;
}
footer p{
	color: #fff;
	font-family: 'Raleway', sans-serif;

}